<%- include('header') -%>

    <style rel="stylesheet" type="text/css">
        .block {
            display: block;
        }
        
        .none {
            display: none;
        }
    </style>
    <div id='heading' class="box">
        <h1>
            <%= Day %>
        </h1>
    </div>

    <div class="box">
        <ul>
            <% for(var i=0; i < newItem.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= newItem[i] %>
                    </p>
                </div>
                <% } %>
        </ul>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="task Name" autocomplete="off" autofocus="autofocus" required>


            <button type="submit" name="add">+</button>
        </form>
    </div>
    <%- include('footer') -%>